<!-- head -->
<%- include('../partials/head') %>
<!-- header -->
<%- include('../partials/header') %>
<body class="container">
    <h1>Editar contraseña</h1>
    <% if (mensaje == undefined) { %>
    <form action="/users/editPassword" method="POST">
        <label for="contraseña-actual">Ingrese su contraseña actual</label>
            <input type="text">
        <label for="contraseña-nueva">Ingrese su nueva contraseña</label>
            <input type="text">
        <label for="contraseña-nueva">Ingrese su nueva contraseña</label>
            <input type="text">
    </form> 
    <% } else { %>
        <h6><%= mensaje %> </h6>
        <form action="/users/<%= usuario.id %> /editPassword" method="POST">
            <label for="oldPassword">Ingrese su contraseña actual</label>
                <input name="oldPassword" id="oldPassword" type="text">
            <br><label for="newPassword">Ingrese su nueva contraseña</label>
                <br><input name="newPassword" id="newPassword" type="text">
            <br><label for="newPassword2">Repita su nueva contraseña</label>
                <br><input name="newPassword2" id="newPassword2" type="text">
            <br><br><button type="submit">Cambiar contraseña</button>
        </form> 
        <% } %>
</body>
<%- include('../partials/footer') %>