
<!-- head -->
<%- include('../partials/head') %>
<body class="container">
  <!-- header -->
  <%- include('../partials/header') %>
  <!--Comienzo código del pago de carrito de compra-->
  <div class="cartPayment-header" >
    <h3 class="fas fa-shopping-basket"> Finalizar compra</h3></br>
  </div>

  <section id="pay-cart">

    <div class="container">
      <div id="options_page">
        <!-- <button type="submit" class="continuebuypayment-btn"><a href="/products/:id">Continuar compra</a></button> -->
        <button type="submit" class="backcart-btn"><a href="/carts/productCart">Volver atrás</a></button>
      </div>
    </div>

    <div class="formCart col-12 col-md-6">
      <ul class="">
            <li class="">Nombre de usuario: <%= usuario.first_name %></li>
            <li class="">Apellido: <%= usuario.last_name %></li>
            <li class="">DNI o CUIT: <%= usuario.dni_cuit %></li>
            <li class="">Teléfono: <%= usuario.phone %></li>
            <li class="">Email: <%= usuario.email %></li>
      </ul>
      <br>



        <label for="method_delivery">Método de entrega</label>
        <div class="container">
          <div id="options_delivery">
            <button type="button" class="sucursal-btn">Retiro en sucursal</button>
            <button type="button" class="address-btn" onclick="location.href='/carts/addressCart'" >Envío a domicilio</button>
          </div>
        </div>
<%if (typeof(status) != "undefined"){
  if(status == "success"){ %>
      <div class="alert alert-success" role="alert">
          <%=mensaje%>
      </div>
  <% }
}%>

<% if (typeof errors != 'undefined') { %>
  <div class="alert alert-danger" role="alert">
      <p>¡Error al cargar el domicilio!</p>
      <ul>
          <% for( let i = 0; i < errors.length; i++ ) { %>
              <li>
                  <%= errors[i].msg %>
              </li>
          <% } %>
      </ul>
  </div>
<% } %>

<% if(address != undefined){ %>
  <div class="domicilioEntrega">
    <ul class="">
      <li class="">Domicilio de entrega: <%= address.address %></li>
      <li class="">Codigo postal: <%= address.zip_code %></li>
      <li class="">localidad: <%= address.locality %></li>
      <li class="">provincia: <%= address.State.name %></li>
    </ul>
  </div>
<% }else{  %>
  <div class="container">
    <h3>Aún no hay un domicio de entrega seleccionado</h3>
  </div>
<% }; %>
        <br><label for="payment_method">Método de pago</label>
        <div class="container">
          <div id="payment_options">
            <button type="submit" class="cash-btn">Efectivo</button>
            <button type="submit" class="credit-btn">Tarjeta de crédito</button>
            <button type="submit" class="dedit-btn">Tarjeta de débito</button>
          </div>
        </div>

    </div>

    <div class="order">  <!--row col-4 col-md-4-->
      <div class="order_detail">
        <br><h3 id="detailCartProducts">Detalle del pedido</h3>
        <div>
          <ul>
            <li>
              <div class="detail_products_cart">
                <div id="productAdded1">
                  <center>
                    <span><br>Mesa</span><br>
                    <p>Precio: $19.990,00</p>
                    <img width="30%" src="/images/mesa1.jpg" alt="producto-mesa">
                    <!-- <a href="/productDetail">Ver producto</a> -->
                  </center>
                </div>
                <div id="productAdded2">
                  <center>
                    <span><br>Silla</span><br>
                    <p>Precio: $2.600,00</p>
                    <img width="30%" src="/images/silla-1-1.jpg" alt="producto-silla">
                    <!-- <a href="/productDetail">Ver producto</a> -->
                  </center>
                </div>
                <div class="totalToPay">
                  <p><br><u>Subtotal</u>: $22.590,00<br><u>Descuento</u>: 20,00%<br><u>Total a pagar</u>: $18.072,00</p><br>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <center><button type="submit" class="pay-btn">Pagar</button></center>
      </div>
    </div>
  </section>

  <!-- footer -->
  <%- include('../partials/footer') %>