<!DOCTYPE html>
<html>
  <!-- head -->
  <%- include('../partials/head') %>
  <body class="container">
 <!-- header -->
 <%- include('../partials/header') %>

 <!-- header -->
 <div class="container">
     <div class="row">
         <div class="edit-form-box col-8 col-md-12">
            <h1>Editar Producto <%=product.name%></h1>
      <h4>Completa los siguientes datos del producto</h4>
        <form action="/products/<%=product.id%>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
        <label for = "nombre"><h6>Nombre del Producto:</h6></label>
            <input name="nombre" id="nombre" type="text" class="form-control" value="<%= product.name %> "></br>
          <label for = "descripcion"><h6>Descripción:</h6></label>
            <input name="descripcion" id= "descripcion" type="text" class="form-control" value="<%= product.description %> "></br>
          <label for = "categoria"><h6>Categoría:</h6></label>
            <input name="categoria" id= "categoria" type="text" class="form-control" value="<%= product.category %> "></br>
          <label for = "subcategoria"><h6>Subcategoría:</h6></label>
            <input name="subcategoria" id= "subcategoria" type="text" class="form-control" value="<%= product.subcategory %> "></br>
          <label for = "marca"><h6>Marca:</h6></label>
            <input name="marca" id= "marca" type="text" class="form-control" value="<%= product.brand %> "></br>
          <label for = "precio"><h6>Precio:</h6></label><br>
            <input name="precio" id="precio" type="text" class="form-control" value="<%= product.price %> "></br>
          <label for = "image1"><h6>Imagen del Producto</h6></label><br>
            <input name="image1" id="image1" type="file" class="btn-color "accept=".jpg, .jpeg, .png" ><br><br>
          <label for = "stock"><h6>Stock:</h6></label><br>
            <input name="stock" id="stock" type="text" class="form-control" value="<%= product.stock %> "></br>
        <button class="suscription-btn btn-color "  id="editarProducto" type="submit">Confirmar edicion</button><br>
        <button class="suscription-btn btn-color "  id="borrarProducto" type="reset">Resetear edición</button>
        </form>
         </div>
     </div>
 </div>
      
    <!-- footer -->
    <%- include('../partials/footer') %>
  </body>
</html>
  